.App {
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100vw;
}

.btn-wide {
	width: 400px;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
	color: black;
	transition-duration: 0.4s;
	background-color: white;
	border-radius: 30px;
	/* border-color: gray; */
	border: 2px solid rgb(4, 93, 209);
	height: 50px
	
}
.input-wide {
	width: 325px;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
	background-color: white;
	border-radius: 30px;
	border: 2px solid black(4, 93, 209);

}


.btn-wide:hover {
	background-color: rgb(4, 93, 209);
	color: white;
	cursor: pointer;
}
