.App {
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100vw;
}

.btn-wide {
	width: 350px;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
	color: white;
	transition-duration: 0.4s;
	background-color:#1f1df1;
	border-radius: 30px;
	/* border-color: gray; */
	border: none;
	height: 50px
	
}
.input-wide {
	width: 325px;
	padding: 10px;
	margin: 10px 0px;
	font-size: 20px;
	background-color: rgb(247, 247, 247);
	border-radius: 30px;
	border: none;
	outline: none

}




.btn-wide:hover {
	background-color: rgb(0, 51, 118);
	color: white;
	cursor: pointer;
}

h1  {
	font-weight: 100;
}
h2  {
	font-weight: 100;
}
h3  {
	font-weight: 100;
}
h4  {
	font-weight: 100;
}
h5  {
	font-weight: 100;
}


/* Navbar Styles***********************************************************************************************
*/

.navbar{
	display: flex;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,29,241,1) 52%, rgba(0,212,255,1) 100%);
	width: 100vw;
	/* border: 1px solid white; */
	justify-content: space-evenly;
}

.nav-links {
	display: flex;
	color: white;
	/* justify-content: space-between;	 */
	justify-content: space-evenly;	
	/* justify-content: space-around;	 */
	align-items: center;
	width: 60vw
	
	
}

.nav-links > li {
}


